[Desktop Entry]
Name=LliureX-Auto-Upgrade
Name[ca]=LliureX-Auto-Upgrade
Name[ca@valencia]=LliureX-Auto-Upgrade
Name[en_GB]=LliureX-Auto-Upgrade
Name[es]=LliureX-Auto-Upgrade
Comment=Allows you to know if lliurex-auto-upgrade is running
Comment[ca]=Permet conéixer si lliurex-auto-upgrade esta en marxa
Comment[ca@valencia]=Permet conéixer si lliurex-auto-upgrade esta en marxa
Comment[en_GB]=Allows you to know if lliurex-auto-upgrade is running
Comment[es]=Permite conocer si lliurex-auto-upgrade esta en marcha
Icon=lliurex-auto-upgrade
Type=Service
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=SystemServices
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=JuanRa
X-KDE-PluginInfo-Email=juapesai@hotmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.lliurexautoupgrade
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=http://lliurex.net
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-StandAloneApp=true
